@font-face {
    font-family: "bpg";
    src: url(/fonts/bpg-glaho-arial-webfont.ttf);
}
@font-face {
    font-family: "akziden";
    src: url(/fonts/AkzidenzGroteskPro-SuperUFC.ttf);
}
*,
*::after,
*::before {
    font-family: "bpg";
}
body {
    font-family: "bpg";
}
.gilroy {
    font-family: "akziden";
}
.bold {
    font-family: "akziden";
}
.gil70 {
    font-size: 57px;
    line-height: 100% !important;
    font-family: "akziden";
}
.gil30 {
    font-family: "akziden";
}
.hero .wrapper .first .content {
    max-width: 800px !important;
}
@media screen and (max-width: 1300px) {
    .gil70 {
        font-size: 39px !important;
    }
    .hero .wrapper .first .content {
        max-width: 560px !important;
    }
}
@media screen and (max-width: 600px) {
    .gil70 {
        font-size: 29px !important;
    }
}
