@font-face {
    font-family: "bpg";
    src: url(/fonts/bpg-glaho-arial-webfont.ttf);
}
@font-face {
    font-family: "akziden";
    src: url(/fonts/AkzidenzGroteskPro-SuperUFC.ttf);
}
*,
*::after,
*::before {
    font-family: "bpg";
}
body {
    font-family: "bpg";
}
.gilroy {
    font-family: "akziden";
}
.bold {
    font-family: "akziden";
}
.gil70 {
    font-family: "akziden";
}
.gil30 {
    font-family: "akziden";
}
