.benefit_box {
  width: 100%;
  height: 100%;
  background-color: #eff2f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px 20px;
  position: relative;
}
.benefit_box .title {
  text-align: center;
  margin-bottom: 20px;
}
.benefit_box .title img {
  margin-bottom: 10px;
}
.benefit_box .abs_icon {
  position: absolute;
  width: 50%;
  top: -32px;
  right: -27px;
  opacity: 0.05;
  transition: 0.4s;
  z-index: 0;
}
.benefit_box:hover .abs_icon {
  top: -10px;
  right: -10px;
  transform: scale(1.2);
}
.benefit_box p {
  font-size: 14px;
  text-align: left;
}
